.login-page {
  background-image: url("../../../../../assets/images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login-box {
  width: 38%;
}
.btn-outline-primary {
  margin-bottom: 10px;
}

